body {
  background-color: #222;
  color: #fff;
  font-family: "Mojangless", Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.status {
  background-color: #333;
  padding: 20px;
  border-radius: 10px; /* Adjust the value as per your preference */
}

h2 {
  margin-top: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  margin-bottom: 0;
}

.operational {
  color: green;
}

.offline {
  color: red;
}

.maintenance {
  color: yellow;
}
